# Requirements for tf_handpose project
# Usage:
# pip install -r requirements.txt
# ======================================================================================
# FileIO
requests
# Utilities
tqdm
# Visualization
pydot
graphviz
matplotlib
ipympl
# Test
pytest
# Install packages from github